@model SchoolManagement.Models.Payments
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Fee Payment";
}

<div class="col-2 text-right" style="float:right">
    <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>

</div>
<div class="col-2 text-right" style="float:right">
    <img src="\Images\@User.FindFirst("image").Value" width="30px" height="40px" style="border-radius:5px; border:1px solid #4cff00">
</div>
    
    <div class="text-center">
        <h2 class="text-primary"> Your due fees= @Model.amount </h2>
        <a type="submit" class="btn btn-primary form-control" style="width:20%;" asp-area="Student" asp-controller="Student" asp-action="RazorpayPayment">Razorpay</a>

    </div>
