@model IEnumerable<SchoolManagement.Models.ViewModels.Fee>

@{
    ViewData["Title"] = "Fee Payment";
}

@foreach (var blog in Model)
{
<div class="text-center">
        <h2 class="text-primary" > Your due fees= @blog.FeeCharge </h2>
</div>
}