@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}
<h1>List Of Holidays</h1>
<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Festivals</th>
            <th>Date</th>
            <th>Days</th>
        </tr>
        <tr>
            <th>02.</th>
            <th>Holi</th>
            <th>10/03/2020</th>
            <th>Tuesday</th>
        </tr>
        <tr>
            <th>03.</th>
            <th>Ramnavmi</th>
            <th>10/04/2020</th>
            <th>Wednesday</th>
        </tr>
        <tr>
            <th>04.</th>
            <th>Good Friday</th>
            <th>10/05/2020</th>
            <th>Friday</th>
        </tr>
        <tr>
            <th>05.</th>
            <th>Rakhi</th>
            <th>10/07/2020</th>
            <th>Tuesday</th>
        </tr>
        <tr>
            <th>06.</th>
            <th>Janmastami</th>
            <th>11/08/2020</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <th>07.</th>
            <th>Durga Puja</th>
            <th>10/09/2020</th>
            <th>Tuesday</th>
        </tr>
        <tr>
            <th>08.</th>
            <th>Deepawali</th>
            <th>10/10/2020</th>
            <th>Tuesday</th>
        </tr>
        <tr>
            <th>09.</th>
            <th>Chatt Puja</th>
            <th>16/10/2020</th>
            <th>Tuesday</th>
        </tr>
        <tr>
            <th>10.</th>
            <th>Christmas</th>
            <th>10/03/2020</th>
            <th>Tuesday</th>
        </tr>
    </thead>
</table>