@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">
        Welcome @User.FindFirst("names").Value
    </h4>
    <div class="col-4 text-center" style="float:left">
        <a type="submit" class="btn btn-primary form-control" asp-area="Student" asp-controller="Student" asp-action="RazorpayPayment">Fee Payment</a>
    </div>
    <div class="col-4 text-center" style="float:left">
        <a type="submit" class="btn btn-primary form-control" asp-area="Student" asp-controller="Student" asp-action="Holiday">Check Holiday List</a>
    </div>
    <div class="col-4 text-center" style="float:left">
        <a type="submit" class="btn btn-primary form-control" asp-area="Student" asp-controller="Student" asp-action="TimeTable">Check TimeTable</a>
    </div>
    <div class="col-4 text-center" style="float:left">
        <a type="submit" class="btn btn-primary form-control" asp-area="Student" asp-controller="Student" asp-action="Result">Check Result</a>
    </div>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>

</div>
<br/>
<div>
    <br/>
</div>