@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}
<h2>Time Table for Standard 6</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>

    </div>
    <div class="col-2 text-right" style="float:right">
        <img src="\Images\@User.FindFirst("image").Value" width="30px" height="40px" style="border-radius:5px; border:1px solid #4cff00">
    </div>
    <table id="studfee" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>Days/Time</th>
            <th>7:00 to 8:00</th>
            <th>8:00 to 9:00</th>
            <th>9:00 to 10:00</th>
            <th>10:00 to 11:00</th>
            <th>11:00 to 12:00</th>
            <th>12:00 to 1:00</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>English</td>
            <td>Science</td>
            <td>Lunch</td>
            <td>Hindi</td>
            <td>Maths</td>
            <td>S.S.T.</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Computer</td>
            <td>Science</td>
            <td>Lunch</td>
            <td>Sanskrit</td>
            <td>Maths</td>
            <td>English</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Hindi</td>
            <td>Science</td>
            <td>Lunch</td>
            <td>Computer</td>
            <td>Maths</td>
            <td>S.S.T.</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Sports</td>
            <td>Science</td>
            <td>Lunch</td>
            <td>Hindi</td>
            <td>Maths</td>
            <td>S.S.T.</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>S.S.T.</td>
            <td>Science</td>
            <td>Lunch</td>
            <td>Hindi</td>
            <td>Game</td>
            <td>S.S.T.</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>English</td>
            <td>Drawing</td>
            <td>Lunch</td>
            <td>Hindi</td>
            <td>Maths</td>
            <td>Science</td>
        </tr>
    </table>
</body>
</html>
