@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>

    </div>
    <div class="col-2 text-right" style="float:right">
        <img src="\Images\@User.FindFirst("image").Value" width="30px" height="40px" style="border-radius:5px; border:1px solid #4cff00">
    </div>
    <div class="tab">
        <h3 class="btn-block"> Welcome @User.FindFirst("names").Value </h3>
        <a class="tablinks" asp-area="Teacher" asp-controller="Teacher" asp-action="Leave">Apply For Leave</a>
        <a class="tablinks" asp-area="Teacher" asp-controller="Teacher" asp-action="Result">Create Result</a>


    </div>
</body>
</html>


