@model SchoolManagement.Models.ViewModels.Subject
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}

<div class="col-2 text-right" style="float:right">
    <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>

</div>
<div class="col-2 text-right" style="float:right">
    <img src="\Images\@User.FindFirst("image").Value" width="30px" height="40px" style="border-radius:5px; border:1px solid #4cff00">
</div>
    <h4 class="display-4">
        Welcome @User.FindFirst("names").Value
    </h4>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>
    <table id="tblResult" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th>Email</th>
                <th>Class</th>
                <th>Maths</th>
                <th>Science</th>
                <th>English</th>
                <th>Hindi</th>
                <th>Computer</th>
            </tr>
        </thead>
    </table>


    @section Scripts{
        <script src="~/js/resultedit.js"></script>
    }


