@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}
<h1></h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>

    </div>
    <div class="col-2 text-right" style="float:right">
        <img src="\Images\@User.FindFirst("image").Value" width="30%" height="40px" style="border-radius:5px; border:1px solid #4cff00">
        <h4 class="display-4">
            Welcome @User.FindFirst("names").Value
        </h4>
    </div>
    <table id="studfee" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>Time</th>
            <th>S.No.</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>02.</td>
            <td>Holi</td>
            <td>10/03/2020</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>03.</td>
            <td>Ramnavmi</td>
            <td>10/04/2020</td>
            <td>Wednesday</td>
        </tr>
        <tr>
            <td>04.</td>
            <td>Good Friday</td>
            <td>10/05/2020</td>
            <td>Friday</td>
        </tr>
        <tr>
            <td>05.</td>
            <td>Rakhi</td>
            <td>10/07/2020</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>06.</td>
            <td>Janmastami</td>
            <td>11/08/2020</td>
            <td>Saturday</td>
        </tr>
        <tr>
            <td>07.</td>
            <td>Durga Puja</td>
            <td>10/09/2020</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>08.</td>
            <td>Deepawali</td>
            <td>10/10/2020</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>09.</td>
            <td>Chatt Puja</td>
            <td>16/10/2020</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Christmas</td>
            <td>10/03/2020</td>
            <td>Tuesday</td>
        </tr>
    </table>
</body>
</html>