@model IEnumerable<SchoolManagement.Models.ViewModels.StudentUserDetails>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Fee Payment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="text-sm-right">
        <h2 class="btn-block">Welcome @User.FindFirst("names").Value  </h2>
    </div>

    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>
    <div class="text-sm-left">
        <h5 class="btn-block">Result Details</h5>
    </div>
    <table id="studfee" class="table table-striped table-bordered" style="width:100%">
        <tr class="table-info">
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
            <th></th>
            <th></th>
           
        </tr>
        @foreach (var stud in Model)
        {
    <tr>
        <td>@stud.FirstName</td>
        <td>@stud.Email</td>
        <td>@stud.Class</td>
        <td>
            <a type="submit" class="btn btn-success form-control" style="width:100%;" asp-area="Teacher" asp-controller="Teacher" asp-action="Result">Add Result</a>
            <a type="submit" class="btn btn-danger form-control" style="width:100%;" asp-area="Teacher" asp-controller="Teacher" asp-action="EditResult">Edit Result</a>       
        </td>
        <td><a type="submit" class="btn btn-success form-control" style="width:100%;" asp-area="Teacher" asp-controller="Teacher" asp-action="Result">View Result</a></td>
    </tr>
        }
    </table>
    <a type="submit" class="btn btn-primary form-control" style="width:20%;" asp-area="Admin" asp-controller="Fee" asp-action="Alert">View Result</a>
</body>
</html>



