@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="tab">
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="TeacherRegister">Add New Teacher</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="StudentRegister">Add New Student</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="AddClass">Add Class</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="TEdit">Edit Teacher Details</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Edit" asp-action="StudentSearch">Edit Student Details</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Fee" asp-action="Index">Check Fee Dues</a>
    </div>
</body>
</html>