@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SchoolManagement";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body> 
    <div class="tab">
        <h3 class="btn-block">Welcome @User.FindFirst("names").Value  </h3>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="TeacherRegister">Add New Teacher</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="StudentRegister">Add New Student</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="AddClass">Add Class</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Admin" asp-action="EditAdmin">Edit Admin Details</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Edit" asp-action="TeacherSearch1">Edit Teacher Details</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Edit" asp-action="StudentSearch1">Edit Student Details</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Fee" asp-action="Index">Check Fee Dues</a>
        <a class="tablinks" asp-area="Admin" asp-controller="Leave" asp-action="Index">Approve</a>

    </div>
</body>
</html>